{% extends 'starter.html' %}


{% block mainbodycontent %}

<div class="box">

    <div class="table-responsive">

        <div class="box-" style="padding: 15px;">

            <p> <strong> Cummulative GPA: <span style="color: red;"> {{ cgpa }} </span> </strong> </p>

            <table class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr class="active">
                        <th width="3%"> SubjCode </th>
                        <th width="25%"> Description </th>
                        <th width="5%"> Grade </th>
                    </tr>

                    {% for sysem in syandsem %}
                        {% if sysem.sem is none %}
                            <p> Wala </p>
                        {% elif (sysem.sem == '3') %}
                            <tr>
                                <td colspan="3" class="danger"> <strong> SY: {{ sysem.sy }} SEM: Summer Sem </strong> ( <span
                                        class="text-muted" style="text-transform: uppercase;"> {{ semstudent.studmajor }}:
                                        {{ student_program.progdesc }} </span>) </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3" class="danger"> <strong> SY: {{ sysem.sy }} SEM: {{ sysem.sem }} </strong> ( <span
                                        class="text-muted" style="text-transform: uppercase;"> {{ semstudent.studmajor }}:
                                        {{ student_program.progdesc }} </span>) </td>
                            </tr>
                        {% endif %}

                        {% for subjhistory in subjecthistories %}
                            {% if (subjhistory.sy == sysem.sy) and (subjhistory.sem == sysem.sem) %}

                            <tr id="2014-20151COMPSCI1N">
                                <td> {{ subjhistory.subjcode }} </td>
                                <td> {{ subjhistory.subjdesc }} </td>

                                {% if (subjhistory.grade == '1.0') %}
                                <td><span class="badge" style="background-color:#19751A"> {{ subjhistory.grade }}0 </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '1.25') %}
                                <td><span class="badge" style="background-color:#4CAF50"> {{ subjhistory.grade }} </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '1.5') %}
                                <td><span class="badge" style="background-color:#8BC349"> {{ subjhistory.grade }}0 </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '1.75') %}
                                <td><span class="badge" style="background-color:#CDDC39"> {{ subjhistory.grade }} </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '2.0') %}
                                <td><span class="badge" style="background-color:#FFCF4B"> {{ subjhistory.grade }}0 </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '2.25') %}
                                <td><span class="badge" style="background-color:#F9B32F"> {{ subjhistory.grade }} </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '2.5') %}
                                <td><span class="badge" style="background-color:#F39C12"> {{ subjhistory.grade }}0 </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '2.75') %}
                                <td><span class="badge" style="background-color:#E67E22"> {{ subjhistory.grade }} </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '3.0') %}
                                <td><span class="badge" style="background-color:#C86400"> {{ subjhistory.grade }}0 </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% elif (subjhistory.grade == '5.0') %}
                                <td><span class="badge" style="background-color:#ff0000"> {{ subjhistory.grade }}0 </span> <i
                                        title="Grade is locked" class="fa fa-lock text-gray"></i> </td>
                                {% endif %}
                            </tr>

                            {% endif %}
                        {% endfor %}


                        {% for gpa in gpas %}
                            {% if (gpa.sy == sysem.sy ) and (gpa.sem == sysem.sem )  %}
                            <tr>
                                <td colspan="2" class="text-right text-danger">GPA</td>
                                <td class="text-danger"> {{ gpa.gpa }} </td>
                            </tr>
                            {% endif %}
                        {% endfor %}

                    {% endfor %}


                </tbody> <!-- tbody end -->
            </table>

        </div>

    </div>
</div>

{% endblock mainbodycontent %}