{% extends 'starter.html' %}


{% block mainbodycontent %}

  
        <div class="jumbotron">
                        <div style="padding: 20px;"> <a href="{{ url_for('student_info') }}" style="color: black;"> <img src='{{ url_for("static", filename="assets/informationblack.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; border: 2px;"> Student Information </a></div>
                        
                        <div style="padding: 20px;"> <a href="{{ url_for('academicperformance') }}" style="color: black;"> <img src='{{ url_for("static", filename="assets/performanceblack.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; border: 2px;"> Academic Performance </a></div>
                        
                        <div style="padding: 20px;"> <a href="{{ url_for('adviseme') }}" style="color: black;"> <img src='{{ url_for("static", filename="assets/advisemeblack.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; border: 2px;"> AdviseMe </a></div>

        </div>
        
        <!-- <div id = "block" class="text-dark"> <a href="{{ url_for('student_info') }}"> <img src='{{ url_for("static", filename="assets/information.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; margin-top: 0px; margin-bottom = 20px; left = 50px;"> Student Information </a></div>
        <div id = "block" class="text-dark"> <a href="{{ url_for('academicperformance') }}"> <img src='{{ url_for("static", filename="assets/performance.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; margin-top: 0px;"> Academic Performance </a></div>
        <div id = "block" class="text-dark"> <a href="{{ url_for('adviseme') }}"> <img src='{{ url_for("static", filename="assets/adviseme.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; margin-bottom: 10px;"> AdviseMe</a></div> -->



{% endblock mainbodycontent %}
