{% extends 'starter.html' %}

{% block homepage %}
        <li> <a href="{{ url_for('home') }}"> <img src='
                {{ url_for("static", filename="assets/home.svg") }}'
                style="width: 20px; height: 25px; margin-right: 15px; margin-bottom: 10px;">
        <span>Home</span></a></li>

{% endblock homepage %}

{% block studfname1 %} <span id="studname"> </span> {% endblock studfname1 %}
{% block studfname2 %} <span id="studname2"> </span> {% endblock studfname2 %}
{% block studentlevel %} <span id="studentlevel"> </span> {% endblock studentlevel %}
{% block firstandlastname %} <span id="firstandlastname" style="text-transform: uppercase; color:white;"> </span> {% endblock firstandlastname %}

{% block studentpages %}
    <li class="treeview active">

        <a href="#"> <img src='{{ url_for("static", filename="assets/student_cap.svg") }}'
                style="width: 23px; height: 25px; margin-right: 15px; margin-bottom: 10px;"> <span> Student </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="active" href="{{ url_for('student_info') }}"> <img
                        src='{{ url_for("static", filename="assets/information.svg") }}'
                        style="width: 15px; height: 15px; margin-right: 15px; margin-top: 0px;"> Student Information </a>
            </li>
            <li><a class="active" href="{{ url_for('academicperformance') }}"> <img
                        src='{{ url_for("static", filename="assets/performance.svg") }}'
                        style="width: 15px; height: 15px; margin-right: 15px; margin-top: 0px;"> Academic Performance </a>
            </li>
        </ul>
    </li>

{% endblock studentpages %}

{% block mainbodycontent %}

  
        <div class="jumbotron">
                        <div style="padding: 20px;"> <a href="{{ url_for('student_info') }}" style="color: black;"> <img src='{{ url_for("static", filename="assets/informationblack.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; border: 2px;"> Student Information </a></div>
                        
                        <div style="padding: 20px;"> <a href="{{ url_for('academicperformance') }}" style="color: black;"> <img src='{{ url_for("static", filename="assets/performanceblack.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; border: 2px;"> Academic Performance </a></div>
                        
                        <div style="padding: 20px;"> <a href="{{ url_for('adviseme') }}" style="color: black;"> <img src='{{ url_for("static", filename="assets/advisemeblack.svg") }}' style="width: 50px; height: 50px; margin-right: 15px; border: 2px;"> AdviseMe </a></div>

        </div>

{% endblock mainbodycontent %}
