{% extends 'starter.html' %}


{% block mainbodycontent %}
    
    <div class="box">

        <div class="box-header with-border">
        
            <img src='{{ url_for("static", filename="assets/user.jpg") }}' class="img-circle" alt="User Image" style="width: 100px; height: 100px; margin-top: -160px;">
            <div class="box-title" style="padding-left: 25px; margin-top: 10px;">
                <h3> {{ student.studfirstname }} {{ student.studlastname }} </h3>
                <small> <span style="text-transform: uppercase;"> {{ student_program.progdesc }} </span> ({{ semstudent.studmajor }}) </small>

                {% if ((studlevel) == 1) %}
                    <p><small> {{studlevel }}st year </small></p>
                {% elif ((studlevel) == 2) %}
                    <p><small> {{ studlevel }}nd year </small></p>
                {% elif ((studlevel) == 3) %}
                    <p><small> {{ studlevel }}rd year </small></p>
                {% elif (( studlevel) == 4) %}
                    <p><small> {{ studlevel }}th year </small></p>
                {% endif %}

                <hr>

                <br>
                <p><small> Scholastic Status: {{ semstudent.scholasticstatus }} </small></p>
                <p><small> Previous GPA: {{ current_gpa }} </small></p>
                <p><small> Comulative GPA: {{ cgpa }} </small></p>

            </div>

            <hr>

        </div>
        
    </div>
    <!-- /.box -->

{% endblock mainbodycontent %}
